@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Nunito:wght@400;700&display=swap');

:root{
    --roxo-bebe: #D4C7FF;
    --Nunito: 'Nunito', sans-serif;
    --Agbalumo: 'Agbalumo';
    --azul-bebe: #C9EFFF;
    --rosa-bebe: #FFC7E8;
    --amarelo-bebe: #FFFAC7;
    --verde-bebe: #E2FFC7;
}

h1{
    font-family: var(--Agbalumo);
    font-size: 2rem;
    width: 70%;
    text-align: center;
    margin: 20px auto;
}

main{
    min-height: calc(100vh - 170px);
}

.btn-addEntregador{
    border: none;
    border-radius: 7px;
    font-family: var(--Agbalumo);
    margin: 5px 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    background-color: var(--amarelo-bebe);
}

.btn-addEntregador:hover {
    background-color: #f7ee93;
    transform: scale(1.1);
}


.box-entregador{
    background-color: var(--azul-bebe);
}


.titulo{
    margin-top: 10px;
    font-family: var(--Nunito);
    font-size: 1.25rem;
    font-weight: bold;
}

.voltar{
    background-color: var(--azul-bebe);
    font-family: var(--Nunito);
    width: 110px;
    height: 30px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
  
.voltar:hover {
    background-color: #6ccad6;
    transform: scale(1.1);
}

.box-card{
    border-top: 2px solid var(--roxo-bebe) !important;
} 

@media (min-width: 768px) {
    .conteiner1{
        display: flex;
        flex-direction: row !important;
        flex-wrap: wrap;
        width: 90%;
        justify-content: center;
    }
    .c1{
        margin: 29px;
        width: 520px;
    }
    h1{
        padding-top: 20px !important;
    }
    .botao #excl, #edit{
        font-size: 1.25rem;
    }
    .c3 img{
        width: 150px;
        height: 150px;
    }

    
}