@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Nunito:wght@400;700&display=swap');

:root{
    --roxo-bebe: #D4C7FF;
    --Nunito: 'Nunito', sans-serif;
    --Agbalumo: 'Agbalumo';
    --azul-bebe: #C9EFFF;
    --rosa-bebe: #FFC7E8;
    --amarelo-bebe: #FFFAC7;
    --verde-bebe: #E2FFC7;
}

.conteiner1{
    background-color: var(--azul-bebe);
    width: 90%;
}

.borders{
    border-top: 2px solid var(--roxo-bebe);
    border-bottom: 2px solid var(--roxo-bebe);
}

.imagem{
    width: 70px;
}

.btn-excluir{
    background-color: var(--rosa-bebe);
    font-family: var(--Agbalumo);
    padding: 1px 10px;
    height: 30px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
    
.btn-excluir:hover {
    background-color: #f58cd4;
    transform: scale(1.1);
}

select{
    width: 80px;
}

.btn-concluir{
    width: 110px;
    font-family: var(--Agbalumo);
    transition: all 0.5s;
    background-color: white;
    -webkit-transition: all 0.5s;
}
  
.btn-concluir:hover {
    background-color: #e4e6e6;
    transform: scale(1.1);
}

.voltar{
    background-color: var(--azul-bebe);
    font-family: var(--Nunito);
    width: 100px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
  
.voltar:hover {
    background-color: #6ccad6;
    transform: scale(1.1);
}

a, a:visited, a:active, a:hover{
    color: black;
}

form{
    display: none;
}

form input[type=submit]{
    border-radius: 10px;
    border: none;
    font-family: var(--Nunito);
    margin: 10px 0;
}

.exibir{
    display: flex !important;
    flex-direction: column;
    margin: 10px 0;
}

@media (min-width: 768px) {
    .imagem{
        width: 107px;
        height: 113px;
        border-radius: 23px;
    }
    .conteiner1{
        width: 62%;
    }
    .card-width{
        width: 75%;
    }
    .c1{
        width: 700px !important;
    }
    .c2{
        max-width: 35% !important;
    }
    .c3{
        max-width: 60% !important;
    }
    .botao{
        display: flex;
        justify-content: flex-start !important;
    }
    .botao .excl{
        padding-right: 0 !important;
        max-width: 20%;
    }
    .preco{
        padding-left: 0 !important;
    }
    .titulo{
        display: flex;
        justify-content: center;
        margin-left: 0 !important;
    }
}