@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Nunito:wght@400;700&display=swap');

:root{
    --roxo-bebe: #D4C7FF;
    --Nunito: 'Nunito', sans-serif;
    --Agbalumo: 'Agbalumo';
    --azul-bebe: #C9EFFF;
    --rosa-bebe: #FFC7E8;
    --amarelo-bebe: #FFFAC7;
    --verde-bebe: #E2FFC7;
}


h1{
    font-family: var(--Agbalumo);
    font-size: 2rem;
    width: 70%;
    text-align: center;
    margin: 20px auto;
}

main{
    min-height: calc(100vh - 170px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.conteiner1{
    display: flex;
    flex-direction: column;
}

.c1{
    background-color: var(--verde-bebe);
    width: 55%;
}

.categ{
    display: flex;
    flex-direction: row;
    background-color: var(--verde-bebe);
    border: none;
}

picture{
    width: 57%;
}

picture img{
    margin: 8px;
    width: 100%;
    height: auto;
}

.botao{
    margin: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.botao #excl, #edit, #vari{
    border: none;
    border-radius: 7px;
    font-family: var(--Agbalumo);
    min-width: 100px;
    max-width: 130px;
    min-height: 30px;
    margin: 5px 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.botao #excl{
    background-color: var(--rosa-bebe);
}

#excl:hover {
    background-color: #f58cd4;
    transform: scale(1.1);
}

.botao #edit{
    background-color: var(--azul-bebe);
}

#edit:hover {
    background-color: #6ccad6;
    transform: scale(1.1);
}

.botao #vari{
    background-color: var(--amarelo-bebe);
    width: 100px !important;
}

#vari:hover {
    background-color: #f7ee93 !important;
    transform: scale(1.1);
}

.botao #vari a, a:visited, a:active{
    color: black;
}

.botao #excl a, a:visited, a:active{
    color: black;
}

.botao #edit a, a:visited, a:active{
    color: black;
}

.add{
    background-color: var(--azul-bebe);
    font-family: var(--Nunito);
    height: 29px;
}

.c1 form{
    display: none;
    padding-left: 10px;
}

.exibir{
    display: flex !important;
    flex-direction: column;
}
form input{
    padding-left: 4px;
    border-radius: 10px;
    border: 2px solid rgb(167, 167, 167);
}

form button[type=submit]{
    border: none !important;
    border-radius: 20px;
    margin: 10px;
}

form{
    display: none;
}

@media (min-width: 768px) {
    
    .conteiner1{
        width: 90%;
        gap: 40px !important;
        flex-direction: row !important;
    }

    .c1{
        width: 25% !important;
        
    }

    .card{
        justify-content: space-around !important;
        flex-direction: row !important
    }

    img{
        width: 75%;
    }

    h1{
        padding-top: 20px !important;
    }
    .botao #excl, #edit, #vari{
        font-size: 20px;
    }
    .botao #vari{
        background-color: var(--amarelo-bebe);
        width: 100px !important;
        height: auto;
    }
    
    
}