@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Nunito:wght@400;700&display=swap');

:root{
    --roxo-bebe: #D4C7FF;
    --Nunito: 'Nunito', sans-serif;
    --Agbalumo: 'Agbalumo';
    --azul-bebe: #C9EFFF;
    --rosa-bebe: #FFC7E8;
    --amarelo-bebe: #FFFAC7;
    --verde-bebe: #E2FFC7;
}

.lista{
    overflow: auto;
    width: 80%;
}

table{
    width: auto;
}

table .table-linkEditar{
    background-color: var(--amarelo-bebe);
}

table .table-linkExcluir{
    background-color: var(--rosa-bebe);
}

#excluirProdutoEstoque, #editarProdutoEstoque{
    font-family: var(--Agbalumo);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

#excluirProdutoEstoque{
    background-color: var(--rosa-bebe);
}

#editarProdutoEstoque{
    background-color: var(--amarelo-bebe);
}

#excluirProdutoEstoque:hover {
    background-color: #f58cd4;
    transform: scale(1.1);
}

#editarProdutoEstoque:hover {
    background-color: #f7ee93 !important;
    transform: scale(1.1);
}
