@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Nunito:wght@400;700&display=swap');

:root{
    --roxo-bebe: #D4C7FF;
    --Nunito: 'Nunito', sans-serif;
    --Agbalumo: 'Agbalumo';
    --azul-bebe: #C9EFFF;
    --rosa-bebe: #FFC7E8;
}

.conteiner1{
    background-color: var(--azul-bebe);
    width: 89%;
    margin: 0 auto 70px;
}

.c1{
}

.imagem{
    width: 70px;
    height: auto;
    margin: 10px;
}

.conteiner1 h3{
    font-family: var(--Agbalumo);
}

.categ{
    width: 114px;
}

.categ  button {
    width: 90px;
    font-family: var(--Nunito);
    background-color: var(--rosa-bebe);
    font-weight: Bold;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
  }
  
.categ  button:hover {
    background-color: #f58cd4;
    transform: scale(1.1);
}
  
.categ  button:active {
    background-color: #f58cd4;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
}

.categ h4{
    font-family: var(--Nunito);
    font-size: 1.30rem;
    margin: 9px 0;
}

@media (min-width: 768px) {
    .conteiner1{
        width: 969px;
    }
    .conteiner1 h3{
        font-size: 28px;
    }
    .c1{
        display: flex;
        justify-content: space-around !important;
        flex-direction: row !important;
        flex-wrap: wrap;
    }
    .imagem{
        width: 130px;
        height: auto;
        margin: 10px;
    }
    .categ{
        flex-direction: row;
        width: 362px;
        height: 138px;
        display: flex;
    }
    .c2{
        display: flex;
        align-items: flex-start !important;
        margin: 20px;
    }
    .c2 h4{
        margin: 15px 0 !important;
    }
    .categ img{
        width: 131px;
        height: 134px;
    }
    
}