@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Nunito:wght@400;700&display=swap');

:root{
    --roxo-bebe: #D4C7FF;
    --Nunito: 'Nunito', sans-serif;
    --Agbalumo: 'Agbalumo';
    --azul-bebe: #C9EFFF;
    --rosa-bebe: #FFC7E8;
    --amarelo-bebe: #FFFAC7;
    --verde-bebe: #E2FFC7;
}

.blue{
    background-color: var(--azul-bebe);
}

.btn-yellow{
    background-color: var(--amarelo-bebe);
    border: none;
    font-family: var(--Agbalumo);
    width: 90px;
    height: 30px;
}

.btn-yellow a{
    color: black;
    text-decoration: none;
}

.btnStatus{
    border: none;
    border-radius: 7px;
    font-family: var(--Agbalumo);
    height: 30px;
    margin: 5px 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    background-color: var(--rosa-bebe);
}

.btnStatus:hover {
    background-color: #f58cd4;
    transform: scale(1.1);
}

.card{
    border-top: 1px solid #c4c4c4 !important;
    border-width: 100px;
}

@media (min-width: 768px) {
    .box-pedido{
        width: 40% !important;
    }
}