
@media (min-width: 768px) {

    input[type=email], input[type=password], input[type=text], input[type=tel], input[type=number]{
        width: 300px;
    }

    .formu input[type=submit]{
        width: 121px;
        height: 30px;
    }

    .pagRegistro {
        width: 320px;
        padding: 10px;
    }

}