.total-div {
    width: 80%;
}

.frete-div {
    flex-direction: row !important;
    width: 80%;
}

.total-com-frete {
    width: 80%;
}

@media (max-width: 768px)  {
    .container-pedido {
        width: 80% !important;
    }

    #labelForCkbIsDelivery {
        word-wrap: break-word;
    }

    .total-div {
        width: 100% !important;
    }

    .frete-div {
        width: 100% !important;
    }

    .total-com-frete {
        width: 100% !important;
    }

}