form {
    width: 100%;
}

#formulario {
    width: 70%;
}

@media (max-width: 768px) {
    #formulario, form {
        width: 100% !important;
    }

    form{
        padding: 10px 0;
        margin: 0 !important;
    }
}