
.box-pessoas{
    width: 40%;
    background-color: var(--quaternary);
}

.box-link{
    background-color: var(--rosa-bebe);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    background-color: var(--rosa-bebe);
}

.box-link:hover {
    background-color: #f58cd4;
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .box-pessoas{
        width: 90% !important;
    }

    .rodape{
        margin-top: 138px;
    }
}