@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Nunito:wght@400;700&display=swap');

:root{
    --roxo-bebe: #D4C7FF;
    --Nunito: 'Nunito', sans-serif;
    --Agbalumo: 'Agbalumo';
    --azul-bebe: #C9EFFF;
    --rosa-bebe: #FFC7E8;
    --amarelo-bebe: #FFFAC7;
    --verde-bebe: #E2FFC7;
}

main h1{
    font-family: var(--Agbalumo);
}

.voltar{
    background-color: var(--azul-bebe);
    font-family: var(--Nunito);
    width: 110px;
    height: 30px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
  
.voltar:hover {
    background-color: #6ccad6;
    transform: scale(1.1);
}

.mapa{
    width: 293px;
    height: auto;
}

@media (min-width: 768px) {
    .container-mapa{
        width: 50% !important;
        margin: auto !important;
    }

    .mapa{
        width: 600px;
        height: 450px;
    }
}