.mapa{
    width: 293px;
    height: auto;
}

@media (min-width: 768px) {
    .container-mapa{
        width: 50% !important;
        margin: auto !important;
    }

    .mapa{
        width: 600px;
        height: 450px;
    }
}