@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Nunito:wght@400;700&display=swap');

:root{
    --roxo-bebe: #D4C7FF;
    --Nunito: 'Nunito', sans-serif;
    --Agbalumo: 'Agbalumo';
    --azul-bebe: #C9EFFF;
    --rosa-bebe: #FFC7E8;
    --amarelo-bebe: #FFFAC7;
    --verde-bebe: #E2FFC7;
}

.c1{
    background-color: var(--verde-bebe);
    padding: 15px;
    margin: 20px 0;
    width: 86%;
}

.c2 {
    display: flex;
    flex-direction: row !important;
}

.c3{
    width: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.imagem{
    margin: 10px;
    width: 120px;
    height: auto;
}

.titulo{
    margin-top: 10px;
    font-family: var(--Nunito);
    font-size: 1.25rem;
    font-weight: bold;
}

.preco{
    margin: 50px 0 0 0;
}

.preco span{
    font-weight: bold;
}

.add{
    background-color: var(--rosa-bebe);
    font-family: var(--Agbalumo);
    height: 30px;
    width: 190px;
    font-family: var(--Nunito);
    background-color: var(--rosa-bebe);
    font-weight: Bold;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
  
.add:hover {
    background-color: #f58cd4;
    transform: scale(1.1);
}

.voltar{
    background-color: var(--azul-bebe);
    font-family: var(--Nunito);
    width: 100px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
  
.voltar:hover {
    background-color: #6ccad6;
    transform: scale(1.1);
}
  

a, a:visited, a:active, a:hover{
    color: black;
}

.imagem{
    width: 70px;
    height: auto;
}

@media (max-width: 767px) {
    .c1{
        /* width: 100px; */
    }
}

@media (min-width: 768px) {
    .imagem{
        width: 160px;
        height: auto;
    }
    .conteiner1{
        display: flex;
        flex-direction: row !important;
        flex-wrap: wrap;
        width: 90%;
        justify-content: center;
    }
    .c1{
        margin: 29px;
        width: 36%;
    }

    h1{
        padding-top: 20px !important;
    }

    .add{
        height: 40px;
        font-size: 1.30rem;
        width: 240px;
    }

    .voltar{
        background-color: var(--azul-bebe);
        border: none;
        font-family: var(--Nunito);
        width: 150px;
        height: 40px;
        color: black;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
    }
}