@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Nunito:wght@400;700&display=swap');

:root{
    --roxo-bebe: #D4C7FF;
    --Nunito: 'Nunito', sans-serif;
    --Agbalumo: 'Agbalumo';
    --azul-bebe: #C9EFFF;
    --rosa-bebe: #FFC7E8;
    --amarelo-bebe: #FFFAC7;
    --verde-bebe: #E2FFC7;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: calc(100vh - 170px);
    font-family: var(--Nunito);
}

.conteiner1{
    background-color: var(--azul-bebe);
    text-align: center;
}

.conteiner-pedidos{
    background-color: var(--azul-bebe);
}

button{
    width: 100px;
    height: 35px;
    background-color: var(--rosa-bebe);
    font-family: var(--Agbalumo);
}

form{
    display: none;
}

.exibir{
    display: flex !important;
    flex-direction: column;
    align-items: center;
}

form input{
    padding-left: 4px;
}

.btn-primary {
    display: inline-block !important;
    visibility: visible !important;
}

@media (min-width: 768px) {
    .conteiner1{
        width: 50% !important;
        display: flex;
        justify-content: center !important;
        flex-direction: column;
        align-items: center !important;
        
    }
    .conteiner-pedidos{
        width: 40% !important;
    }
    .conteiner1 img{
        width: 200px;
        height: auto;
        margin: 30px;
    }
    .c1{
        width: 50%;
    }
    button{
        width: 88px;
        height: 28px;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
    }   
  
    button:hover {
        background-color: #f58cd4;
        transform: scale(1.1);
    }

    form label, input{
        font-size: 1.2rem;
        height: 30px;
    }

}