.botao {
    border-radius: 12px;
    font-family: var(--Nunito), sans-serif;
    font-weight: 700;
    padding: 6px 25px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.1);
    border: none;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;
}

.botao-primary {
    background-color: var(--secundary); 
    color: var(--black);
}

.botao-primary:hover {
    color: var(--neutral);
    background-color: #fbb9dc;
}

.botao-secondary {
    background-color: transparent;
    color: #5A3B90;
    border: 2px solid #D4C7FF;
}

.botao-secondary:hover {
    background-color: #D4C7FF;
    color: #fff;
    border: 2px solid #D4C7FF;
}

.botao-alerta {
    background-color: var(--tertiary);
    color: #B00020;
}

@media (max-width: 768px) {
    .botao {
        width: auto;
        padding: 1px 35px;
        font-size: 1.2rem;
    }
}
  